html {
    background-image: url("https://static9.depositphotos.com/1441191/1196/v/950/depositphotos_11961483-stock-illustration-travel-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto";
  }

  .oneline {
      color:black;
      display: inline-block
      }