
body {
    background-image: url("https://static9.depositphotos.com/1441191/1196/v/950/depositphotos_11961483-stock-illustration-travel-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial";
   

  }


  .chip {
      width: 300px;
      text-align: left;
     
  }

.oneline {
      color:black;
      display: inline-block;
          
    }
    
form {
    text-align: center;
    font-size: 20px;
    background: rgb(128, 222, 234,.4);



}

#logo {
    font-size: 50px;
}

.row {
    text-align: center;
    margin: auto;
    width: 85%;
    padding: 10px;
    color: #80deea;
    
   
}

#box0 { 
    background: rgb(128, 222, 234,.8);
    
    
}
#box1 {
    background: rgb(128, 222, 234,.8);
    
    
}
#box2 {
    background: rgb(128, 222, 234,.8);
    
    
}
#box3 {
    background: rgb(128, 222, 234,.8);
    
    
}
#box4 {
    background: rgb(128, 222, 234,.8);
    
    
}
#box5 {
    background: rgb(128, 222, 234,.8);
    
    
}
#box6 {
    background: rgb(128, 222, 234,.8);
    
    
}
#box7 {
    background: rgb(128, 222, 234,.8);
    
    
}
#box8 {
    background: rgb(128, 222, 234,.8);
    
    
}
#box9 {
    background: rgb(128, 222, 234,.8);
    
    
}


h3 {
    color: black;
}

h4 {
    text-align: center;
    color: black;
}

 

