body {
    background-image: url("USPlates.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial";
  }

div.overlay {
    background-color:rgb(77,182,172,.8);
    color:white;
    font-weight: bold;
  }
  
input  {
      color: white;
  }
